In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
# load the csv file using pandas
heart_data = pd.read_csv('heart.csv')

In [3]:
# print first 5 rows
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [4]:
# print last 5 rows
heart_data.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [6]:
heart_data.shape
# getting total number of rows and columns

(1025, 14)

In [7]:
X = heart_data.drop(columns = 'target', axis = 1)
Y = heart_data['target']

In [8]:
print(X)

      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      52    1   0       125   212    0        1      168      0      1.0
1      53    1   0       140   203    1        0      155      1      3.1
2      70    1   0       145   174    0        1      125      1      2.6
3      61    1   0       148   203    0        1      161      0      0.0
4      62    0   0       138   294    1        1      106      0      1.9
...   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
1020   59    1   1       140   221    0        1      164      1      0.0
1021   60    1   0       125   258    0        0      141      1      2.8
1022   47    1   0       110   275    0        0      118      1      1.0
1023   50    0   0       110   254    0        0      159      0      0.0
1024   54    1   0       120   188    0        1      113      0      1.4

      slope  ca  thal
0         2   2     3
1         0   0     3
2         0   0     3
3         2   1     3
4         1   3     2
...     ...  ..   ...
1020      2   0     2
1021      1   1     3
1022      1   1     2
1023      2   0     2
1024      1   1     3

[1025 rows x 13 columns]

In [9]:
print(Y)

0       0
1       0
2       0
3       0
4       0
       ..
1020    1
1021    0
1022    0
1023    1
1024    0
Name: target, Length: 1025, dtype: int64

In [10]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, stratify = Y, random_state = 2)

In [11]:
print(X.shape, x_train.shape, x_test.shape)

(1025, 13) (820, 13) (205, 13)

|| MODEL TRAINING ||

In [12]:
model = LogisticRegression()

In [ ]:
model.fit(x_train, y_train)

Model Evaluation

In [15]:
# accuracy on training data 
x_train_prediction = model.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction, y_train)

In [16]:
print(f"accuracy on training data is: {training_data_accuracy}")

accuracy on training data is: 0.8524390243902439

In [17]:
# accuracy on testing data 
x_test_prediction = model.predict(x_test)
testing_data_accuracy = accuracy_score(x_test_prediction, y_test)

In [18]:
print(f"accuracy on test data is: {testing_data_accuracy}")

accuracy on test data is: 0.8048780487804879

Predicting System

In [ ]:
data_input = (70,	1,	0,	145,	174	,0,	1,	125,	1,	2.6,	0,	0,	3)   
# consists of every parameter mentioned above, This is only example
# we can also take user input 

convert_data = np.asarray(data_input)

input_data_reshaped = convert_data.reshape(1, -1)

prediction = model.predict(input_data_reshaped)

print(f"{prediction}")   # output = 0

if(prediction[0] == 0): print(f"Patient is healthy")
else: print(f"Patient has heart disease")